.Weather{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.weatherBg{ 
 height: 50vh;
 width: 100%;
 /* display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center; */
}
.content-body{
    margin-top: -175px;
}
.heading{
  color: white;
  font-weight: 700;
}

.searchBox{
  width: 100%;
}

.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weatherBox{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.city{
  font-size: 35px;

}
.Temp{
  font-size: 60px;
  font-weight: 700;
}